html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.questionContainer {
  min-height: calc(100vh - 40px); /* Adjust for the footer height */
  padding: 20px;
  margin-bottom: 40px; /* Space for footer */
  background-color: #f9f9f9; /* Light off-white color */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 200px;
  margin-left: 200px;
}

.askButton {
  background-color: #007bff;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px 20px;
  color: #fff;
}

.askButton:hover {
  background-color: #0056b3;
}

.welcomeText {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.searchInput {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 20px;
}

.user__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  background-color: #fff;
  border-radius: 50%;
  border: 8px solid #b7b7b7;
  transition: background-color 0.3s ease;
}

.user__icon svg {
  font-size: 45px;
  color: #b7b7b7;
  transition: color 0.3s ease;
}

.avatarSection {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.avatar_user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar_user:hover .user__icon {
  background-color: #022553;
}

.avatar_user:hover .user__icon svg {
  color: #fff;
}

.user__icon:hover {
  /* border: 8px solid #022553; */
  border: 8px solid #ffffff;

  transition: border 0.3s ease;
}

.usernameText {
  margin-top: 4px;
  font-size: 1.25rem;
  color: #333232;
  text-align: center;
  width: 50px;
  font-weight: 400;
}
.title {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.questionTitle {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-align: left;
  text-decoration: none;
}
.arrowIcon {
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageButton {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pageButton:hover:not(:disabled) {
  background-color: #0056b3;
}

.activePage {
  background-color: #0056b3;
  font-weight: bold;
}
