.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pageButton {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pageButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pageButton:hover:not(:disabled) {
  background-color: #0056b3;
}

.activePage {
  background-color: #0056b3;
  font-weight: bold;
}
