.contentWrapper {
  background-image: url("../../assets/images/evangb.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  /* min-height: calc(100vh - 140px); /* Adjust for header and footer height */
  /* display: flex;
  align-items: center; 
  padding: 40px 0; */
}

.loginContainer {
  z-index: 1;
}

.formWrapper {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.inputField {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submitButton {
  background-color: #ffa500;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.submitButton:hover {
  background-color: #cc8400;
}

.createAccountLink {
  color: #ffa500;
  font-weight: bold;
  text-decoration: none;
}

.label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #666;
}

.forgotPasswordLink {
  color: #0056b3;
  text-decoration: underline;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: grey;
}

.emailError,
.passwordError {
  outline: 2px solid red;
}

.eyeIcon {
  position: absolute;
  right: 10px;
  top: 50%;

  cursor: pointer;
  color: #999;
  font-size: 1.2rem;
}

.eyeIcon:hover {
  color: #666;
}
